<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="https://cdn.glitch.global/bd5b06bb-74cc-4ef7-90cb-e7cc561ea9ed/thumbnails%2F1828108.png"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <center>
      <div class="container">
        <h1>URL Shortener</h1>
        <form method="POST" action="{{ url_for('shorten') }}">
          <input
            type="text"
            name="url"
            placeholder="Enter URL to shorten"
            required
          />
          <button type="submit">Shorten</button>
        </form>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <p>
        Shorten your URLs in just one click with this free and open-source URL
        shortener codebase. Written in Python and using MongoDB as the backend
        database, this code allows you to quickly and easily shorten your URLs
        with a unique 6-character code. Whether you want to share a long URL on
        social media or simply make it easier to remember, this one-click URL
        shortener can help. The intuitive interface and error checking ensure
        that your original URL is valid before it is shortened, and the MongoDB
        database makes it easy to retrieve shortened URLs and their
        corresponding original URLs. With the MIT License, you can use, modify,
        and distribute this code as you see fit. So why not give it a try and
        see how it can simplify your URL shortening needs?
      </p>
      <a href="https://github.com/PythonPlumber/url-shorter"><img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white"></a>
      <img
        src="https://img.shields.io/badge/flask-%23000.svg?style=for-the-badge&logo=flask&logoColor=white"
      />
      <img
        src="https://img.shields.io/badge/MongoDB-%234ea94b.svg?style=for-the-badge&logo=mongodb&logoColor=white"
      /><img
        src="https://img.shields.io/badge/Render-%46E3B7.svg?style=for-the-badge&logo=render&logoColor=white"
      />
      <br />
      <img
        src="https://cdn.glitch.global/bd5b06bb-74cc-4ef7-90cb-e7cc561ea9ed/666e8f9a-c926-48ef-aa35-2e04dc3e7df0.image.png"
      />
    </center>
  </body>
</html>
